<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> 
        ( age: <%= @user.age %> )
      </h1>
      <h2>
       email: <%= @user.email %>
      </h2>
    </section>
  </aside>
  <div class="span8">
    <% if @user.teams.any? %>
      <h3>Joined Teams (<%= @user.joined_teams.count %>)</h3>
      <ol class="microposts">
        <%= render @teams %>
      </ol>
      <%= will_paginate @teams %>
    <% end %>
  </div>
</div>